#cardBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-cardBackground-color);
    box-shadow: var(--primary-boxShadow-color);
    border: var(--primary-borderCard-color);
}

.cardBoxImage1 {
    width: 43%;
    height: 57%;
}

.cardBoxImage2 {
    width: 42%;
    height: 55%;
    margin-bottom: 0.5rem;
}

#cardBoxImage img {
    width: 100%;
    height: 100%;
}

#productIcon {
    position: absolute;
    right: 0;
    bottom: 0;
}

#newWatch {
    position: absolute;
    right: 4%;
    top: 4%;
}

#reviewCardBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3.5rem;
}

#reviewUser h3 {
    font-size: var(--primary-h3fontSize);
    font-weight: 500;
    color: var(--primary-titleColor-color);
}

#reviewUser h4 {
    font-size: var(--primary-smallFontSize);
    color: var(--primary-textColor-color);
}

.dateText {
    font-size: var(--primary-h4normalFontSize);
    font-weight: 600;
    color: var(--primary-titleColor-color);
}

.reviewText {
    font-size: var(--primary-smallFontSize);
    color: var(--primary-textColor-color);
}

.priceCard1 {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: var(--primary-h3fontSize);
    color: var(--primary-homeImageBox-color);
}

.priceCard2 {
    margin-top: 0.2rem;
    font-weight: 500;
    font-size: var(--primary-h4normalFontSize);
    color: var(--primary-homeImageBox-color);
}

.priceCard3 {
    margin-top: 0.2rem;
    font-weight: 500;
    font-size: var(--primary-h4normalFontSize);
    color: #2E2E2E;
}